<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работа на VUE</title>
</head>
<body>
   
    <div id="app">
        <span @click="title='123456!'">1_Меняем текст</span>                                                        
        <br><span @click="message='67890!'">2_Меняем текст</span>
        <br>{{title}}
        <br>{{message}}
        
    </div>

    <p><button @click="qwerty">Отмена всех действий над текстом</button></p>
    <!-- <button>Отмена всех действий над текстом</button> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="test.js"></script>
</body>
</html>