.car{
    width: 30%;
    margin: 10px 31%;
    background: #dd0f0f;
    border: 2px solid rgb(217, 219, 72);
    border-radius: 10px;
    padding: 1.2% 2%;
    color: #190ae6;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}